/* 標題字型設定 */
body{
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #e0d4b2;
}
h1 {
    font-size: 42px;
    font-weight: bold;
    color: #030303;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

/* 題目字型設定 */
p {
    font-size: 16px;
    /* font-weight: bold; */
    color: #161616;
    margin-bottom: 20px;
}

/* 聲音區塊設定 */
table {
    border-collapse: collapse;
    margin: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #dddddd;
    padding: 10px;
}

th {
    background-color: #f7f7f7;
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

td {
    text-align: center;
    font-size: 16px;
    color: #080808;
}